doctype html
html
  include ../templates/head.pug
  body
    include ../templates/navbar.pug
    section.login
      .login__form-container
        img.login__logo(src='../logos/logo_yard_sale.svg' alt='yard sale logo')

        h1.title Create a new password

        h4.title__low-emphasis Enter a new password for your account

        form.login__form(action='/')

          label.login__input-label(for='password') Password

          input#password.login__input(type='password' placeholder='*********')

          label.login__input-label(for='repeat-password') Repeat password

          input#repeat-password.login__input(type='password' placeholder='*********')

          button.button.button__primary(type='submit') Confirm
