.image-section {
  background-image: url('../assets/imgs/bitcoinbaby.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  min-width: 320px;
  width: 100%;

  h2 {
    color: $white;
    font-size: 2.4rem;
    padding-top: 68px;
  }
}