.exchange {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;

  &__info {
    margin-top: 40px;

    h2 {
      color: $warn-black;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.6rem;
    }

    p {
      margin-top: 24px;
      color: $grey-3;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
    }
  }

  &__data {

    @include tablet {
      justify-content: center;
      overflow: hidden;
    }

    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 32px;
    overflow-x: scroll;
    padding-bottom: 30px;
  }

  &__table-container {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2.3rem;
      margin-bottom: 12px;
      text-align: left;

      &--orange {
        color: $bitcoin-orange;
      }

      &--blue {
        color: $secondary-blue;
      }
    }

    &__update {
      width: 135px;
      padding: 5px 2px;
      border-radius: 8px;
      margin: 16px auto;
      color: $warn-black;
  
      strong {
        font-size: 1.2rem;
      }

      &--orange {
        background-color: $soft-orange;
      }

      &--blue {
        background-color: $soft-blue;
      }
    }
  }

  &__table {
    min-width: 230px;
    max-width: 500px;
    height: 250px;
    margin-bottom: 15px;

    table {
      background-color: $white;
      border-radius: 8px;
      color: $grey;
      font-size: 1.6rem;
      font-weight: 500;
      height: 100%;
      line-height: 1.9rem;
      width: 100%;
    }

    td {
      width: 50%;
    }

    &__price {
      font-weight: normal;
      color: $grey-3;
    }

    &__ticker-down {
      background-image: url('../assets/icons/trending-down-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      height: 15px;
      margin-left: 10px;
      width: 15px;
    }

    &__ticker-up {
      background-image: url('../assets/icons/trending-up-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      height: 15px;
      margin-left: 10px;
      width: 15px;
    }
  }
}