.exchange-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;

  &--info {
    margin-top: 40px;

    h2 {
      color: $warn-black;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.6rem;
    }

    p {
      margin-top: 24px;
      color: #757575;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
    }
  }
}

.main-table-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  &--title {
    color: $bitcoin-orange;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 12px;
    text-align: left;
    width: 70%;
  }

  &--update {
    background-color: $soft-orange;
    padding: 7px;
    border-radius: 8px;
    margin-top: 28px;
    color: $warn-black;

    strong {
      font-size: 1.2rem;
    }
  }
}

.main-currency-table {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 80%;

  &--container {
    min-width: 230px;
    max-width: 500px;
    height: 250px;

    table {
      background-color: $white;  
      border-radius: 8px;
      color: $grey;
      font-size: 1.6rem;
      font-weight: 500;
      height: 100%;
      line-height: 1.9rem;
      width: 100%;
    }
    
    td {
      width: 50%;
    }
  }

  &--price {
    font-weight: normal;
    color: #757575;
  }

  &__ticker-down {
    background-image: url('../assets/icons/trending-down-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 15px;
    margin-left: 10px;
    width: 15px;
  }

  &__ticker-up {
    background-image: url('../assets/icons/trending-up-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 15px;
    margin-left: 10px;
    width: 15px;
  }

  &--arrow {
    background-image: url('../assets/icons/chevron-right-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10px;
    margin-left: 10px;
    width: 10px;
  }
}