doctype html
html
  include ../templates/head.pug
  body
    include ../templates/navbar.pug
    main.sell-list
      .sell-list__search-container
        input(type="text" placeholder="Search Product").sell-list__input

      .sell-list__categories
      
      .sell-list__filter    

      section.sell-list__products
        article.sell-list__product-item
          figure.sell-list__product-item-thumb
          footer.sell-list__product-item-data
  