nav.navbar
  img.navbar__nav-icon(src="../logos/icon_menu.svg", alt="Icon Menu Logo")
  img.navbar__logo(src="../logos/logo_yard_sale.svg", alt="Yard Sale Logo")

  .navbar__content
    .navbar__left-panel
      ul
        li
          a(href="/") All
        li
          a(href="/") Clothes
        li
          a(href="/") Electronics
        li
          a(href="/") Furnitures
        li
          a(href="/") Toys
        li
          a(href="/") Others

    .navbar__right-panel
      ul
        li.navbar__email email@email.com
        li.navbar__cart
          img(src="../logos/icon_shopping_cart.svg", alt="Shopping cart")
          div 2