@import "_variables";

body {
  font-family: 'Quicksand', sans-serif;
  a {
    color: $hospital-green;
  }
}

.title {
  font-size: $lg;
  font-weight: bold;

  &__price {
    font-family: roboto;
  };

  &__high-emphasis {
    font-size: $md;
  };

  &__low-emphasis {
    font-size: $md;
    font-weight: 300;
  };
}

// Modules
@import "./input.scss";
@import "./button.scss";
@import "./navbar.scss";

// General styles
@import "../signup/styles/signup.scss";