section.features-container
  .features-container--logo-separator

  h2 Creamos un producto sin comparaci칩n.
  p Confiable y dise침ado para su uso diario.

  article.feature
    span.feature--icon
    h3 Tiempo real
    p Nuestro API toma informaci칩n minuto a minuto sobre las tasas que m치s determinan el comportamiento.
  