footer
  section
    ul
      li
        a(href="#") Linkedin 
      li
        a(href="#") CrunchBase
      li
        a(href="#") HackerNews
  section.footer-logo
    img(src="./assets/logos/patata.svg", alt="batata bit logo")
    p * Batatabit 2022