header.header
  img(src="./assets/logos/batatabit_logo.svg")
  .header__title-container
    h1 La próxima revolución en el intercambio de criptomonedas.
    p Batatabit te ayuda a navegar entre los diferentes precios y tendencias.
    a(href="#").header__button
      Conoce Nuestros Planes
      span